@{
    ViewData["Title"] = "Details";
}
@model ProductMeasurementUnitsDto

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
           
                <h4 class="card-title">Ölçüm Birimleri</h4>
                <input type="hidden" asp-for="Id" id="ProductMeasurementUnitsIdUpdate">

            <div class="mb-3 row">
                <label asp-for="Name" class="col-md-2 col-form-label" for="ProductMeasurementUnitsNameSave">Ölçüm Birimi/Değeri</label>
                <div class="col-md-6">
                    <input id="ProductMeasurementUnitsNameSave" asp-for="Name" type="text" class="form-control" placeholder="Birimi/Değeri  Yazınız" disabled>
                    <div class="invalid-feedback">Ölçüm Birimi/Değeri Boş olamaz!</div>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="ShortCode" class="col-md-2 col-form-label">Birim/Değer</label>
                <div class="col-md-6">
                    <input id="ProductMeasurementUnitsCodeUpdate" asp-for="ShortCode" type="text" class="form-control" placeholder="Birim/Değer Yazınız" disabled>
                    <div class="invalid-feedback">Birim/Değer Boş olamaz!</div>
                </div>
            </div>


            <div class="mb-3 row">
                <label asp-for="Explanation" class="col-md-2 col-form-label" disabled>Açıklama</label>
                <div class="col-md-6">
                    <textarea id="elm1" asp-for="Explanation" class="form-control"></textarea>

                </div>
            </div>


        </div>
    </div>
</div>

