@{
    ViewData["Title"] = "Save";
}
@model ProductMeasurementUnitsDto




<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <form asp-controller="ProductMeasurementUnits" asp-action="Save" method="post" class="needs-validation" novalidate>
                <h4 class="card-title">Para Birim Kayıt</h4>
                    <div class="col-lg-6">
                        <div class="mb-3">
                        <label class="form-label" asp-for="MeasurementId">Kayıtlı Birimler</label>
                        <select class="form-control select2" asp-for="MeasurementId" asp-items="ViewBag.measurement" id="ProductMeasurementUnitsIdSave"></select>
                        <span asp-validation-for="MeasurementId" class="text-danger"></span>
                        </div>
                        

                <div class="mb-3 row">
                    <label asp-for="Name" class="col-md-2 col-form-label" for="MeasurementUnitsNameSave">Ölçüm Birim Adı</label>
                    <div class="col-md-6">
                        <input asp-for="Name" type="text" class="form-control" id="ProductMeasurementUnitsName" placeholder="Ölçüm Birimini Yazınız" required>
                        <div class="invalid-feedback">Ölçüm Birimi Boş olamaz!</div>
                    </div>
                </div>  

                <div class="mb-3 row">
                    <label asp-for="ShortCode" class="col-md-2 col-form-label">Birim/Değer</label>
                    <div class="col-md-6">
                            <input asp-for="ShortCode" id="ProductMeasurementUnitsName" class="form-control" type="text" placeholder="Ölçüm Birim Değerini Yazınız" required>
                        <div class="invalid-feedback">Ölçüm Birim Değeri Boş olamaz!</div>
                    </div>
                </div>
               

                <div class="mb-3 row">
                    <label asp-for="Explanation" class="col-md-2 col-form-label">Açıklama</label>
                    <div class="col-md-6">
                        <textarea id="elm1" asp-for="Explanation" class="form-control"></textarea>

                    </div>
                </div>
                
          
                <input type="submit"  class="btn btn-primary waves-effect waves-light me-1 form-group" />


                </div>

            </form>


        </div>
    </div>
</div>
              




