@{
    ViewData["Title"] = "Details";
}
@model ProductBrandsDto

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
           
                <h4 class="card-title">Marka Details</h4>
                <input type="hidden" asp-for="Id" id="ProductBrandsIdDetails">

            <div class="mb-3 row">
                <label asp-for="BrandsName" class="col-md-2 col-form-label">BrandsName </label>
                <div class="col-md-6">
                    <input id="ProductBrandsNameDetails" asp-for="BrandsName" type="text" class="form-control" placeholder="Marka Giriniz" disabled>
                    <div class="invalid-feedback">Marka Adı Boş olamaz!</div>
                </div>
            </div>s


            <div class="mb-3 row">
                <label asp-for="BrandsCode" class="col-md-2 col-form-label">Marka Kodu</label>
                <div class="col-md-6">
                    <input id="ProductBrandsCodeDetails" asp-for="BrandsCode" type="text" class="form-control" placeholder="Marka Kodu Giriniz" disabled>
                    <div class="invalid-feedback">Marka Kodu Boş olamaz!</div>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="BrandsWebUrl" class="col-md-2 col-form-label">BrandsWebUrl</label>
                <div class="col-md-6">
                    <input id="ProductBrandsWebUrlDetails" asp-for="BrandsWebUrl" type="text" class="form-control" placeholder="Brands Web Url Giriniz" disabled>
                    <div class="invalid-feedback">Brands Web Url Boş olamaz!</div>
                </div>
            </div>


            <div class="mb-3 row">
                <label asp-for="LogoFileName" class="col-md-2 col-form-label">LogoFileName </label>
                <div class="col-md-6">
                    <input id="ProductBrandsLogoFileNameDetails" asp-for="LogoFileName" type="text" class="form-control" placeholder="LogoFileName Yazınız" disabled>
                    <div class="invalid-feedback">LogoFileName Boş olamaz!</div>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="LogoFilePath" class="col-md-2 col-form-label">LogoFilePath </label>
                <div class="col-md-6">
                    <input id="ProductBrandsLogoFilePathDetails" asp-for="LogoFilePath" type="text" class="form-control" placeholder="LogoFilePath Yazınız" disabled>
                    <div class="invalid-feedback">LogoFilePath Boş olamaz!</div>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="LogoBase64Content" class="col-md-2 col-form-label">LogoBase64Content </label>
                <div class="col-md-6">
                    <input id="ProductBrandsLogoBase64ContentDetails" asp-for="LogoBase64Content" type="text" class="form-control" placeholder="LogoBase64Content Yazınız" disabled>
                    <div class="invalid-feedback">LogoBase64Content Boş olamaz!</div>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Explanation" class="col-md-2 col-form-label" disabled >Açıklama</label>
                <div class="col-md-6">
                    <textarea id="elm1" asp-for="Explanation" class="form-control"></textarea>

                </div>
            </div>





        </div>
    </div>
</div>

